:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* fonts */
  --font-size: 1.2rem;

  /* metrics */
  --col-width: 1000px;

  --border-radius: 1rem;

  --gutter-small: 2px;
  --gutter-medium: 0.9rem;
  --gutter-large: 2rem;

  --line-width: 2px;

  /* colors */
  --color-primary: #a73121;
  --color-card: #ffffff;
  --color-shadow: #bbbbbb;
  --color-input-bg: #eeeeee;

  /* misc */
  --box-shadow: 5px 5px 20px var(--color-shadow);
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: var(--font-size);
}

input[type="text"] {
  font-size: var(--font-size);
  border: 0;
}

input:focus {
  outline: none;
}

.l-centered {
  margin: 0 auto;
}

.l-flex-c {
  display: flex;
  flex-direction: column;
}

.l-flex-r {
  display: flex;
  flex-direction: row;
}

.l-text-align-r {
  text-align: right;
}

.l-text-align-l {
  text-align: left;
}

.l-card {
  background-color: var(--color-card);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  padding: var(--gutter-large);
}

.l-main {
  width: var(--col-width);
  margin: var(--gutter-large) auto;
}

.m-input-box {
  border-radius: var(--border-radius);
  padding: var(--gutter-medium);
  background-color: var(--color-input-bg);
}

.m-todo-control {
  display: flex;
  flex-direction: column;
}

.m-number-input {
  flex-grow: 1;
  background-color: transparent;
}
